<div class="well">
  <%= simple_form_for @elilist, html: {class: 'form-horizontal'} do |f| %>
    <%= f.input :name, label: "Name (to be displayed)" %>
    <%= f.input :list_id, wrapper: :append, label: "EliList address" do %>
      <%= f.input_field :list_id %><span class="add-on">@elilists.yale.edu </span>
    <% end %>
    <%= f.input :description, as: :text, label: "A simple description of your list", input_html: {rows: 3} %>
    <%= f.input :owners_raw, collection: @elilist.owners, as: :check_boxes, label: 'List owners to migrate' %>
    <%= f.input :list_type, collection: %w[Moderated Announcement Discussion] %>
    <%= f.input :subscribers_raw, as: :text, label: "Email addresses of the members, one per line. (We automatically imported your existing members)", input_html: {rows: 30}   %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
