<div class="well">
  <%= simple_form_for @elilist, html: {class: 'form-horizontal'} do |f| %>

    <%= f.input :name %>
    <%= f.input :owners_raw, collection: @elilist.owners, as: :check_boxes, label: 'List owners to migrate' %>
    <%= f.input :subscribers_raw, as: :text %>
    <%= f.input :list_type, collection: %w[Moderated Announcement Discussion] %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
