<h2> Welcome, <%= @owner.netid %> </h2>

<% if @lists.present? %>

  <% @lists.each do |list|  %>
    <div class="well">
      Panlist name: <%= list.name %> <br> 
      <%= pluralize list.num_members, 'member' %> <br>
      Panlist type: <%= list.public? ? 'Public' : 'Private' %>  <br>
      Panlist owners: <ol> <% list.owners.each do |owner| %>
        <li><%= owner.netid%> </li>
      <% end %></ol> 
    <%= link_to "Manage this list", migrate_panlist_path(list) %>
    </div>
  <% end %>
<% else %>
  No lists.
<% end %>



